@font-face {
  font-family: 'Tiempos Regular';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Tiempos Regular'), url("./TiemposTextWeb-Regular.woff2") format('woff2');
}
@font-face {
  font-family: 'Tiempos Regular Italic';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Tiempos Regular'), url("./TiemposTextWeb-RegularItalic.woff2") format('woff2');
}
@font-face {
  font-family: 'Tiempos Bold';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Tiempos Bold'), url("./TiemposTextWeb-Bold.woff2") format('woff2');
}
@font-face {
  font-family: 'Tiempos Bold Italic';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Tiempos Bold'), url("./TiemposTextWeb-BoldItalic.woff2") format('woff2');
}
@font-face {
  font-family: 'Tiempos Headline Light';
  font-style: normal;
  font-weight: 400;
  src: local('Tiempos Headline Light'), url("./TiemposHeadlineWeb-Light.woff2") format('woff2');
}
@font-face {
  font-family: 'Tiempos Headline Black';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local("Tiempos Headline Black"),url("./TiemposHeadlineWeb-Black.woff2") format("woff2");
}

:root {
  --brand-color: #2CB9BF;
  --primary-color: #388EF4; 
  --text-color: #222222;
}

html {
  font-size: 100%;
}

*::after:focus:not(:focus-visible),
*::before:focus:not(:focus-visible),
*:focus:not(:focus-visible) {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: geometricPrecision;
  font-variant-ligatures: normal;
  font-kerning: normal;
  line-height: 1.5;
}

article > * + * {
  margin-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
}

body {
  font-family: "Tiempos Regular", serif;
  color: var(--text-color);
}

h1 {
  font-family: "Tiempos Headline Black", serif;
  line-height: 1.2;
  margin-top: 1.44em;
}

h2 {
  font-family: "Tiempos Headline Light", serif;
  line-height: 1.2;
  margin-top: 1.2em;
}

.highlight {
  border: 2px solid var(--brand-color);
  padding: 12px;
}

p {
  margin: .833em auto 0 auto;
  text-align: left;
}

.caps {
  text-transform: uppercase;
  max-width: 30ch;
  letter-spacing: .05em;
}

.italic {
  font-family: "Tiempos Regular Italic", serif;
}

a {
  color: #444;
  text-decoration-color: var(--brand-color);
  font-family: "Tiempos Bold Italic", serif;
}

a:hover {
  color: var(--brand-color)
}

.sf_logo {
  max-width:200px;
  margin: 0em auto;
}

ul {
  padding: 0;
}

article {
  max-width: 70ch;
  margin: 1em auto;
  padding: 0 12px;
}

.contact {
  text-align: center;
  background: #FCFCFC;
  padding: 12px;
  margin: .8em auto;
  border: 2px solid var(--brand-color);
}

.contact p {
  text-align: center;
}

.contact ul {
  list-style: none;
}

hr {
  color: var(--brand-color);
}

@media (min-width: 480px){
  h1{font-size:2.488em;}
  h2{font-size:1.728em;}
  p{font-size:1.2em;}
  ul{font-size:1.2em;}
}

@media (min-width: 1920px){
  h1{font-size:2.986em;}
  h2{font-size:2.074em;}
  p{font-size:1.44em;}
  ul{font-size:1.44em;}
}